@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Regular-BF642a2ebfe9ff0.woff2') format('woff2'),
         url('./fonts/Touche-Regular-BF642a2ebfe9ff0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Bold-BF642a2ec04a3ad.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Touche', Arial, sans-serif;
    background: url('BG/Desktop - 4.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 250px;
    height: auto;
    margin: 20px 0;
}

.language-toggle {
    display: flex;
    gap: 10px;
}

.language-toggle .flag {
    width: 30px;
    height: auto;
    cursor: pointer;
}

main {
    position: relative;
    color: #333;
    z-index: 2;
}

.text-content {
    padding-top: 10vh;
    text-align: left; /* Changed from center to left */
    max-width: 800px;
    margin: 0 auto;
}

.text-content h1 {
    font-size: 48px;
    color: #333;
    margin: 0 0 20px;
    font-weight: bold;
    height: 120px; /* Reserve space for the typing effect */

}

.text-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin: 0 0 20px;
}

@media (max-width: 768px) {
    body {
        background: url('BG/iPhone 14 & 15 Pro - 2.svg') no-repeat center center fixed;
        background-size: cover;
    }

    header .logo {
        width: 180px;
    }

    .language-toggle .flag {
        width: 24px;
    }

    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 30px;
        margin: 0 0 20px;
        height: 80px; /* Adjust the height for smaller screens */
    }

    .text-content p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 24px;
        height: 60px; /* Adjust the height for smaller screens */
    }

    .text-content p {
        font-size: 14px;
    }
}
