@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Regular-BF642a2ebfe9ff0.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Bold-BF642a2ec04a3ad.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Touche', Arial, sans-serif;
    background: url('BG/Desktop - 4.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 250px;
    height: auto;
    margin: 20px 0;
}

.language-toggle {
    display: flex;
    gap: 10px;
}

.language-toggle .flag {
    width: 30px;
    height: auto;
    cursor: pointer;
}

main {
    position: relative;
    color: #333;
    z-index: 2;
}

.text-content {
    padding-top: 10vh;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.text-content h1 {
    font-size: 48px;
    color: #333;
    margin: 0 0 20px;
    font-weight: bold;
    height: 120px;
}

.text-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin: 0 0 20px;
}

.contact-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15vh;
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    box-sizing: border-box; 

}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 30px);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
    background: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #d32f2f;
    box-shadow: 0 0 5px rgba(211, 47, 47, 0.5);
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.contact-form button:hover {
    background-color: #e53935;
}

.message {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    padding: 15px 30px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; 

}

.contact-button:hover {
    background-color: #e53935;
}

@media (max-width: 768px) {
    body {
        background: url('BG/iPhone 14 & 15 Pro - 2.svg') no-repeat center center fixed;
        background-size: cover;
    }

    header .logo {
        width: 180px;
    }

    .language-toggle .flag {
        width: 24px;
    }

    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 30px;
        margin: 0 0 40px;
        height: 80px;
    }

    .text-content p {
        font-size: 16px;
        margin: 0 0 20px;
    }

    .contact-form {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 24px;
        height: 60px;
    }

    .text-content p {
        font-size: 14px;
        margin: 0 0 20px;
    }

    .contact-content h2 {
        font-size: 24px;
    }

    .contact-content p {
        font-size: 14px;
    }

    .contact-form {
        padding: 20px;
    }
}
