@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Regular-BF642a2ebfe9ff0.otf') format('openType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Touche';
    src: url('./fonts/Touche-Bold-BF642a2ec04a3ad.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Touche', Arial, sans-serif;
    background: url('BG/Desktop - 4.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 250px;
    height: auto;
    margin: 20px 0;
}

.language-toggle {
    display: flex;
    gap: 10px;
}

.language-toggle .flag {
    width: 30px;
    height: auto;
    cursor: pointer;
}

main {
    position: relative;
    color: #333;
    z-index: 2;
}

.text-content {
    padding-top: 10vh;
    text-align: left; /* Changed from center to left */
    max-width: 800px;
    margin: 0 auto;
}

.text-content h1 {
    font-size: 48px;
    color: #333;
    margin: 0 0 20px;
    font-weight: bold;
    height: 120px; /* Reserve space for the typing effect */
}

.text-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin: 0 0 20px;
}

.contact-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15vh; /* Adjust padding to push content down */
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

.form-group.half-width {
    flex: 1 1 45%;
}

.form-group.full-width {
    flex: 1 1 100%;
}

.contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
}

.contact-form button {
    padding: 15px 30px;
    background-color: #d32f2f; /* Set button color to red */
    color: #fff;
    border: none;
    border-radius: 30px; /* Make button oval */
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.contact-form button:hover {
    background-color: #e53935; /* Slightly lighter red on hover */
}

footer {
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    padding: 15px 30px;
    background-color: #d32f2f; /* Set button color to red */
    color: #fff;
    border: none;
    border-radius: 30px; /* Make button oval */
    font-family: 'Touche', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #e53935; /* Slightly lighter red on hover */
}

@media (max-width: 768px) {
    body {
        background: url('BG/iPhone 14 & 15 Pro - 2.svg') no-repeat center center fixed;
        background-size: cover;
    }

    header .logo {
        width: 180px;
    }

    .language-toggle .flag {
        width: 24px;
    }

    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 30px;
        margin: 0 0 40px;
        height: 80px; /* Adjust the height for smaller screens */
    }

    .text-content p {
        font-size: 16px;
        margin: 0 0 20px;
    }

    .contact-form {
        flex-direction: column;
        padding: 10px;
    }

    .form-group {
        flex: 1 1 100%;
    }

    .contact-form button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .text-content {
        padding-top: 15vh;
    }

    .text-content h1 {
        font-size: 24px;
        height: 60px; /* Adjust the height for smaller screens */
    }

    .text-content p {
        font-size: 14px;
        margin: 0 0 20px;
    }

    .contact-content h2 {
        font-size: 24px;
    }

    .contact-content p {
        font-size: 14px;
    }
}
